<div data-role="page" id="myPageWait">

<a data-role="button" href="#" onclick="javascript:go_home();return false()"> Back </a>
<script>
var downloadSize=0;
$( '#myPageWait' ).live( 'pageinit',function(event){
  $('#downloadButton').hide();
   $('#cancelButton').hide();
  $("#downloadErrorLi").hide();
  check_size();
 
 
});



function update_progress2(downloaded){
var tokos;


total=parseInt($("#fileSize").val());
tokos=parseInt((downloaded/total)*100);

  update_progress(tokos,'progressBar');
$("#percentText").html(tokos);


}


function downloaded_size(size,mapSize){


var kbText=parseInt(parseInt(size)/1024);

$("#downloaded_size").html(bytesToSize(size));
  

  $("#kbText").html(kbText); 

}


function check_size(){


var req=  $.ajax({
       
       url: "http://maps.georates.net/maps/newApp/filesize.php",
       
         
 timeOut:4000,
 

       dataType: "html" ,
     
     
}) .done(function(data2){


  console.log('Yes! Success!');
       
       data=jQuery.parseJSON(data2);
       
    
              
             
                if(!data.fileSize){
                        
                          download_failed("Seems you are not online. We cannot reach our server to get the size of map file. Please try again later. ");
                        
                        
                        }
                        
                        else{
                
                
                
                $( "#fileSize" ).val( parseInt(data.fileSize) );
              
              $( "#mapSizeMB" ).html( bytesToSize(data.fileSize));
                
                          $('#textInfo').show();
                $('#downloadButton').show();
              downloadSize= parseInt(data.fileSize);
               
                        }




}).fail(function(jqXHR, sStatus, oError) {

  console.log(sStatus);
  
                  download_failed("Seems you are not online. We cannot reach our server to get the size of map file. Please try again later. ");
                                          
                  console.log(oError);
});
  
               
 
  req.success(function(data2) {
     
                
  });

    
    
 
   


}

function pingSize(){

$("#textPercentDiv").fadeIn();
  $("#kbDiv").fadeIn();
  var map_size=$( "#fileSize" ).val();
             
             var map_file="mbtiles111111.sqlite.zip.rhodownload";
  var url='<%=url_for(:controller=>:Settings,:action=>:check_download_state)%>?map_file='+map_file+'&mapSize='+map_size;
            
             $.ajax({
               url: url,
               cache: false,
              
             } );


}


function stop_timer(){

$("#textPercentDiv").fadeOut();

  $('#spinner').fadeOut();
   $('#downloadButton').show();
   
  $("#cancelButton").hide();
 
  var url='<%=url_for(:controller=>:Settings,:action=>:stop_timer)%>';
            
             $.ajax({
               url: url,
               cache: false,
             } );


}

  function go_home(){
  
  
  stop_timer();
  
  
    window.location = "<%= Rho::RhoConfig.start_path %>";
  
  
  
  }
function get_map(){
 
  $('#spinner').show();
  $('#downloadButton').hide();
  
 $("#cancelButton").show();

 data= new Object();
 
    console.log("sksem");
        var url2='<%=url_for(:controller=>:Settings,:action=>:ajax_get_mbtiles)%>?mapSize='+downloadSize;
           
          
  $.get(url2);
             
  
  
  
  
  
  
  pingSize(); 
  
  
  
  
  }

  





function download_failed(msg){

  $("#downloadErrorli").show();
$("#downloadErrorMsg").html(msg);

$()



}
  


function finalizeMap(){



alert("Map Download is Finished.");
$("#downloadMapStatus").hide();

  $("#download_finished").show();
  
  
  $('#downloadButton').show();
   $('#cancelButton').hide();


}
  
  

  
</script>

  <div data-role="header" data-position="inline">
    <h1>   Please wait...</h1>
    
  </div>
  
  
  

  
  
  
  
  
  

  <div data-role="content">
   
     
  
  
  


  <div id="downloadMapStatus">
  
  
<div class="ui-grid-b" id="statusSpinner">
  <div class="ui-block-a" style="width:33%"><div id="kbDiv" style="display:none">Size:<span id="kbText">-</span>KB </div> </div>
  <div class="ui-block-b">    <div id="spinner" style="display:none;text-align:center;"><img src="/public/images/loadingFile.GIF"></div></div>
  <div class="ui-block-c" style="width:33%"><div id="textPercentDiv" style="display:none">Done: <span id="percentText">-</span>%  </div></div>
</div><!-- /grid-b -->
  
  
  
  
      <div class="meter orange nostrips" id="progressBar">
              <span style="width: 0%"></span>
            </div>
     <br><br>
<input type="text" type="hidden" id="fileSize" style="display:none;"> 

    <ul data-role="listview" style="top:20px;" id="download_ul">
    
  <li id="downloadErrorLi" > <span style="color:red;font-weight:bold;" id="downloadErrorMsg"></span><a href='/app/index.erb' rel='external'>Back to MainPage</a> </li>
    
    <li data-role="heading" id="textInfo" style="display:none;">Downloaded <span id="downloaded_size" style="color:red;"><%= @size%>MB</span> from <span id="mapSizeMB" style="color:green !important;"> </span> </li>

    

  <% 
  
  
  
  %>
  
</ul>
      
      
      
      <ul id="cancel_download" selected="true" title="Wait">
  <li id="downloadButton" ><a  disabled="disabled" href="#" onclick="javascript: get_map();return false;" data-role="button"><%= @downloadText%></a></li>
     <li  id="cancelButton"> If you feel it's frozen too loong time, please try to Pause and Restart Download.  <a   href="#" onclick="javascript:stop_timer();return false;" data-role="button">Pause Download</a></li>
          <br/><br/>
      </ul>

    </div>  
<div id="download_finished" style="display:none">
   
          <h3>Download Finished</h3>
          <img src="/public/images/wait.png">
          <span id="status_mesage_unpack"> Download Finished.We have downloaded offline map for the app. Now we have to unpack POI database.
          
          
          <a data-role="button" href="/app/Settings/do_fast_reset">Unpack POI Database</a>   
          ...</span>
          
      

   </div>   
      
      
      
      <div id="unpack_finished" style="display:none !important">
         
                <h3>Map Update is finished.Hurra! </h3>
                
                <span id="status_mesage_success">You have successfully updated the maps of App. 
                <a data-role="button" href="<%=url_for(:controller=>:Settings,:action=>:show_map)%>">See the map</a>
                </span>
                
                
                
            
      
         </div>   
      
      
      
      
  </div>

</div>
